.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary);

  .dashboard-body {
    display: flex;
    flex: 1;
  }
  .right-panel {
    flex: 1;
    padding: 20px;
    background-color: var(--color-elevation); // Lightest (#263326)
    color: var(--color-text-primary);

    h1 {
      margin-bottom: 10px;
    }
  }
}
